RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^greenundclean\.com$ [NC]
RewriteRule ^(.*)$ https://www.greenundclean.com/$1 [R=301,L]
